html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Calibri, Carlito, "Noto Sans", sans-serif;
}

.menubar {
  position: sticky;
  top: 0;
  padding: 5px;
  margin-bottom: -1px;
  border-bottom: 1px black solid;
  border-collapse: collapse;
  background-color: #cdc;
}

#worksheet {
  text-align: center;
  border-collapse: collapse;
  user-select: none;
}

#status-bar {
  position: sticky;
  bottom: 0;
  padding: 5px;
  background-color: #cdc;
  margin-top: -1px;
  border-top: 1px black solid;
  border-collapse: collapse;
  white-space: nowrap;
}

.text-button {
  vertical-align: middle;
  background-color: #ccc;
  height: 40px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  font-size: 16px;
}

.cell-button {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: #ccc;
  text-align: center;
}

.fill-button {
  vertical-align: middle;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

#cooks-button, #template-cooks-button {
  background-image: url('bucket.svg'), linear-gradient(#ccc 0 30%, yellow 70% 100%)
}

#just-eats-button, #template-just-eats-button {
  background-image: url('bucket.svg'),
                    linear-gradient(#ccc 0 30%, rgb(0 0 0 / 0%) 70% 100%),
                    linear-gradient(90deg, #b1a0c7 0% 25%, #c4d79b 25% 50%, #e26b0a 50% 75%, #00b0f0 75% 100%);
}

#absent-button, #template-absent-button {
  background-image: url('bucket.svg'), linear-gradient(#ccc 0 30%, white 70% 100%);
}

#example, #template {
  border: 2px solid black;
  border-collapse: collapse;
}

#worksheet td, #worksheet th, #template td, #template th, #example td, #example th {
  border: 1px solid #666;
}

#worksheet td, #example td, #template td {
  padding-left: 10px;
  padding-right: 10px;
}

#worksheet td.odd-week, #template td.weekday {
  background: #d9d9d9;
}

#worksheet thead td, #template thead td, 
#worksheet tr:nth-of-type(5n) td:not(.row-error),
#worksheet th, #example th, #template th,
#worksheet td.week {
  border-bottom: 2px solid black;
}

#worksheet col.dates {
  border-right: 2px solid black;
}

#worksheet col.weeks {
  border-left: 2px solid black;
}

#template col:nth-of-type(1) {
  border-right: 2px solid black;
}

/* worksheet, example, template */
col.named0 { background: #b1a0c7; }
col.named1 { background: #b8cce4; }
col.named2 { background: #c4d79b; }
col.named3 { background: #e26b0a; }
col.named4 { background: #00b0f0; }
col.named5 { background: #da9694; }
col.named6 { background: #b9e7db; }
col.named7 { background: #f79646; }
col.named8 { background: #c5d9f1; }

#worksheet th,
#worksheet td.selectable {
  width: 80px;
}

#template th,
#template td.selectable {
  width: 60px;
}

#worksheet td.selectable input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: inherit;
  display: block;
  text-align: center;
  outline: none;
  background-color: inherit;
  appearance: textfield;
}

td.selectable:hover:not(.selected) {
  outline: 3px solid black;
  outline-offset: -1px;
}

td.cooks {
  background-color: yellow;
}

/* worksheet, example, template */
td.absent {
  background-color: white;
}

td.selected {
  outline: 3px dashed black;
  outline-offset: -1px;
}

#worksheet td.nothing {
  border: none;
}

#worksheet td.row-error {
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  white-space: nowrap;
  text-align: left;
  font-weight: bold;
}

#rules, #help, #template-editor {
  display: none;
  position: absolute;
  width: fit-content;
  background-color: white;
  border: 2px black solid;
}

#template-editor {
  left: 5%;
  top: 10%;
  padding: 2px;
}

#rules {
  left: 10%;
  top: 20%;
}

#help {
  left: 15%;
  top: 30%;
}

#hide-rules-button, #hide-help-button, #hide-template-editor-button {
	float: right;
	border: 2px black solid;
	margin: 2px;
}
