<!DOCTYPE html>
<html lang="de">
<head>
   <meta charset="utf-8">
   <title>Kochliste</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
   <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
   <script>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
</head>
<body>
   <script type="module" src="{{ url_for('static', filename='date.js') }}"></script>
   <script type="module" src="{{ url_for('static', filename='index.js') }}" defer></script>
   <div class="menubar">
      <button class="text-button" id="save-button">Speichern</button>
      <button class="fill-button" id="just-eats-button" title="isst"></button>
      <button class="fill-button" id="cooks-button" title="kocht"></button>
      <button class="fill-button" id="absent-button" title="fehlt"></button>
      <button class="text-button" id="show-template-editor-button">Vorlage bearbeiten</button>
      <button class="text-button" id="show-rules-button">Regeln</button>
      <button class="text-button" id="show-help-button">Hilfe</button>
   </div>
   <table id="worksheet">
      <thead>
         <tr></tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot>
         <tr></tr>
      </tfoot>
   </table>
   <div id="rules">
      <button id="hide-rules-button">×</button>
      <ol>
         <b><li>Nachtisch!</li></b>
         <b><li>Pünktlich kochen!</li></b>
         <li>Austragen bis 8:30 Uhr am selben Tag, sonst nur nach persönlicher Absprache mit dem kochenden Wesen.</li>
         <li>Mit Kochen ist der dran, der die wenigsten Punkte hat. Bei Gleichstand ist erst derjenige dran, der länger nicht gekocht hat.</li>
         <li>Wer krank ist, muss von jemandem vor 8:30 ausgetragen werden. (Abwesenheitsliste kontrollieren)</li>
         <li>Weiße Felder sind erst nach Absprache mit der betroffenen Person wieder farbig zu kennzeichnen.</li>
         <li>Direkt nach dem Urlaub ist man nicht dran mit Kochen, es sei denn alle Mitesser kommen gleichzeitig aus dem Urlaub.</li>
         <li>Jeder isst mit, wenn er (oder sie oder es) kocht.</li>
      </ol>
   </div>
   <div id="help">
      <button id="hide-help-button">×</button>
      <ol>
      <li>Wenn man auf eine nicht ausgewählte Zelle klickt, wird sie ausgewählt.</li>
      <li>Wenn man auf eine ausgewählte Zelle klickt, wird sie nicht mehr ausgewählt.</li>
      <li>Eine Zelle hat drei Zustände: "fehlt", "isst", "kocht":
         <table id="example">
            <thead>
               <tr><th>Karsten</th><th>Stefan</th><th>Roman</th></tr>
            </thead>
               <col class="named0"><col class="named1"><col class="named2">
            <tbody>
               <tr><td class="absent">fehlt</td><td class="absent"></td><td class="absent"></td></tr>
               <tr><td>isst</td><td></td><td></td></tr>
               <tr><td class="cooks">kocht</td><td class="cooks"></td><td class="cooks"></td></tr>
            </tbody>
         </table>
      </li>
         <li>Wenn man auf einen der Eimer-Knöpfe klickt, wechseln alle ausgewählen Zellen in den entsprechenden Zustand.</li>
         <li>Um Änderungen zu speichern, klickt man auf "Speichern".</li>
         <li>Um Änderungen zu verwerfen, aktualisiert man die Seite.</li>
         <li>(für Mobilgeräte nicht relevant) Wenn man auf eine Zelle mit Shift klickt, wechselt sie in den nächsten Zustand.</li>
      </ol>
   </div>
   <div id="template-editor">
      <div class="menubar">
         <button class="fill-button" id="template-just-eats-button" title="isst"></button>
         <button class="fill-button" id="template-absent-button" title="fehlt"></button>
         <button id="hide-template-editor-button">×</button>
      </div>
      <table id="template">
         <thead>
            <tr><td>WT</td></tr>
         </thead>
         <tbody>
            <tr><td class="weekday">Mo</td></tr>
            <tr><td class="weekday">Di</td></tr>
            <tr><td class="weekday">Mi</td></tr>
            <tr><td class="weekday">Do</td></tr>
            <tr><td class="weekday">Fr</td></tr>
         </tbody>
      </table>
   </div>
   <div id="status-bar"></div>
</body>
</html>
